html {
  background: #DDD;
  --main-width: 640px;
  font: 14px sans-serif;
}
html[data-no-scroll="true"] {
  overflow: hidden;
}
html[data-no-touch="true"] {
  cursor: wait;
}
html[data-no-touch="true"] body {
  pointer-events: none;
}
html[data-no-touch="true"] body * {
  pointer-events: none !important;
}
body {
  padding: 80px 0;
  text-align: center;
}
canvas {
  background: #FFF;
  width: var(--main-width);
  display: block;
  margin: auto;
  cursor: pointer;
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
a {
  color: #666;
  text-decoration: none;
}
button {
  cursor: pointer;
}
.ctrl-box {
  max-width: var(--main-width);
  margin: 0 auto;
  padding: 10px 0;
}
footer {
  padding: 80px 0;
  color: #999;
  font-size: 12px;
  line-height: 20px;
}
footer > * {
  display: inline-block;
  vertical-align: top;
  padding: 0 4px;
}
@media (min-width: 1100px) {
  html {
    --main-width: 960px;
  }
}
.ui-btn {
  display: block;
  padding: 18px 10px;
  border: 2px solid #222;
  background: #FFF;
  color: #222;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.ui-btn.current {
  background: #222;
  color: #FFF;
}
[data-show="false"] {
  display: none;
}
.ui-shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: rgba(0, 0, 0, 0.8);
}
.ui-shadow .content-box {
  background: #FFF;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  max-width: 520px;
  margin: 0 auto;
  border-radius: 8px;
}
@media (max-width: 542px) {
  .ui-shadow .content-box {
    max-width: 392px;
  }
}
.output-box .content-box {
  padding: 10px;
}
.output-box img {
  width: 100%;
  display: block;
  border-radius: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.search-bangumis-box form {
  padding: 8px 8px 0;
}
.search-bangumis-box form input {
  font: inherit;
  font-size: 18px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 14px;
  margin: 0;
  border: 2px solid #444;
  border-radius: 4px;
}
.search-bangumis-box form input:focus {
  border-color: #222;
}
.search-bangumis-box .foot {
  padding: 8px;
}
.search-bangumis-box .foot .ui-btn {
  margin-top: 8px;
}
.anime-list {
  pointer-events: none;
  padding: 4px;
  max-width: 512px;
  overflow: hidden;
}
.anime-list .anime-item {
  float: left;
  width: 120px;
  padding: 4px;
  text-align: left;
  cursor: pointer;
  pointer-events: auto;
}
.anime-list .anime-item > * {
  pointer-events: none;
}
.anime-list .anime-item img {
  height: 160px;
  width: 120px;
  object-fit: cover;
  display: block;
  border-radius: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  background: #222;
}
.anime-list .anime-item h3 {
  margin: 4px 0;
  font-size: 14px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
  word-break: break-all;
}
@media (max-width: 412px) {
  .anime-list .anime-item {
    width: calc((100vw - 20px - 8px) / 3 - 8px);
  }
  .anime-list .anime-item img {
    height: calc((100vw - 20px - 8px) / 3 / 3 * 4 - 8px);
    width: calc((100vw - 20px - 8px) / 3 - 8px);
  }
}
