body {
     display: flex;
     justify-content: center;
     padding: 1rem;
    flex-direction: column;
}
 main {
     width: 50%;
     max-width: 800px;
     margin: 0 auto;
     padding: 1rem;
}
 @media only screen and (max-width: 768px) {
     body {
         padding: 0;
    }
     main {
         width: 80%;
         padding: 0;
    }
}
 @media only screen and (max-width: 576px) {
     main {
         width: 100%;
    }
}
 @media only screen and (min-width: 769px) and (max-width: 992px) {
     main {
         width: 60%;
    }
}

footer {
  text-align: center;
  font-size: 12px;
  padding-top: 15px;
}
footer a {
  text-decoration: none;
  color: #666;
}
footer span {
  color: #999;
  padding: 0 5px;
}

 #table_container_wrapper {
     margin: 5vh auto;
}
 #table_container {
     background-color: white;
}
 #table_container h1 {
     position: fixed;
     top: 50px;
     text-align: center;
}
 #table_container span {
     color: silver;
}
 #my_table {
     border-collapse: collapse;
     border: 3px solid #000000;
     cursor: pointer;
}
 #my_table th, td {
     border: 1px solid #000000;
     width: 250px;
     height: 200px;
     text-align: center;
}
 .cell-wrapper {
     position: relative;
     height: 100%;
}
 .cell-wrapper img {
     height: auto;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-58%);
     max-width: 100%;
     max-height: 85%;
}
 .cell-wrapper div{
     position: absolute;
     bottom: 0;
     width: 98%;
     padding: 5px 0;
     background-color: white;
}
 .dialog {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 9999;
     overflow-y: auto;
     max-height: 100%;
}
 .dialog-content {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: white;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0px 0px 10px #888;
}
 .dialog-header {
     text-align: center;
     margin-bottom: 20px;
}
 .dialog-body {
     margin-bottom: 20px;
     display: flex;
     gap: 15px;
     flex-direction: column;
}
 .dialog-footer {
     display: flex;
     justify-content: center;
}
 button {
     padding: 10px 20px;
     border-radius: 5px;
     background-color: #1a8cd8;
     color: white;
     border: none;
     cursor: pointer;
}
 #img_container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}
 #img_container img{
     max-width: 200px;
    /* adjust this value as needed */
     height: auto;
     object-fit: contain;
     margin: 10px;
     outline: none;
     transition: outline 0.1s ease;
}
 #img_container img:hover {
     outline: 3px solid #1a8cd8;
}
 #img_preview {
     width: 200px;
     height: auto;
}
 #save_button {
     width: 100%;
     text-align: center;
}
 .buttons-container {
     display: flex;
     gap: 10px;
}
 
